body
{
  background-image: linear-gradient(lightcyan,pink,Cornsilk);
  background-repeat: no-repeat;
  height: 100vh;
}
.navbar
{
  display: flex;
  justify-content: space-evenly;
  background-color:yellow;
}
.link
{
  text-decoration: none;
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 10px;
  border-radius: 5px;
}
.head
{
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
}
.home
{
  font-weight: bold;
  font-family: cursive;
}
.table
{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
}
.table2
{
  width: 100vw;
  height: 450px;
  text-align: center;
}
.heading
{
  background-color: green;
  font-size: 30px;
  color: yellow;
  font-family: cursive;
}
.btn
{
  width: 250px;
  height: 50px;
  border-radius: 30px;
  background-color: blue;
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
.new
{
  background-color: red;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:center ;
  line-height: 80px;
  color:blue;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.main
{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(lightcyan,pink,Cornsilk);

}
.child1
{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.inp
{
  width: 200px;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 15px;
  color: red;
  font-weight: bold;
  padding: 5px;
}
.new2
{
  background-color:springgreen;
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align:center ;
  line-height: 80px;
  color:black;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.submit
{
  width: 200px;
  height: 50px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.submit:hover
{
  background-color: green;
}